* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.center {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  width: 100%;
  height: 75px;
  background-color: #222222;
  display: flex;
  align-items: center;
}
.menu_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button_search {
  margin-left: 41px;
}
.menu_buttons {
  margin-right:  10px;
}
.button_menu {
  margin-right: 24px;
}
.button_account {
  margin-right: 24px;
}
.main_content {
  background-color: #F1E4E6;
  height: 764px;
  display: flex;
  justify-content: center;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.main_content__picture {
  width: 50vw;
}
.main_img {
  height: 764px;
}
.main_content_text {
  width: 50vw;
}
.line_title {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #F16D7F;
  margin-top: 290px;
  margin-right: 10px;
  margin-left: 64px;
}
.text_with_line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.main_content_title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.main_content_description {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main_content_description_add {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.offers {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap:30px;
  margin-top: 65px;
}
.offer_position {
  position: relative;
}
.sale_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer_4 {
  grid-area: 2 / 1 / 3 / 4;
}
.text_offer {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.for_whome {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container_goods {
  margin-top: 96px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__title {
  margin-bottom: 6px;
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
.products_description {
  margin-bottom: 47px;
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
}
.backround_products {
  background-color: #F8F8F8;
}
.product__title {
  margin-top: 25px;
  margin-left: 18px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__description {
  margin-top: 13px;
  margin-left: 17px;
  margin-right: 28px;
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product_price {
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: 18px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_browse {
  margin-top: 48px;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  background: #FFF;
  border-color: #FF6A6A;
}
.name_button_browse {
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_buy {
  display: none;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .center {
    width: 736px;
    margin-right: auto;
    margin-left: auto;
  }
  .button_account {
    margin-right: 42px;
  }
  .main_content {
    height: 368px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .main_img {
    height: 368px;
  }
  .main_content_title {
    font-size: 44px;
  }
  .main_content_description {
    font-size: 24px;
  }
  .main_content_description_add {
    font-size: 24px;
  }
  .line_title {
    width: 12px;
    height: 92px;
    margin-top: 138px;
    margin-left: 39px;
  }
  .offers {
    gap:20px;
  }
  .container_goods {
    margin-top: 110px;
    margin-bottom: 71px;
  }
  .products_description {
    margin-bottom: 73px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 16px;
  }
}
