* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.center {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  width: 100%;
  height: 75px;
  background-color: #222222;
  display: flex;
  align-items: center;
}
.menu_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button_search {
  margin-left: 41px;
}
.menu_buttons {
  margin-right:  10px;
}
.button_menu {
  margin-right: 24px;
}
.button_account {
  margin-right: 24px;
}
.main_content {
  background-color: #F1E4E6;
  height: 764px;
  display: flex;
  justify-content: center;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.main_content__picture {
  width: 50vw;
}
.main_img {
  height: 764px;
}
.main_content_text {
  width: 50vw;
}
.line_title {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #F16D7F;
  margin-top: 290px;
  margin-right: 10px;
  margin-left: 64px;
}
.text_with_line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.main_content_title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.main_content_description {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main_content_description_add {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.offers {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap:30px;
  margin-top: 65px;
}
.offer_position {
  position: relative;
}
.sale_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer_4 {
  grid-area: 2 / 1 / 3 / 4;
}
.text_offer {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.for_whome {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container_goods {
  margin-top: 96px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.place_for_photo {
  position: relative;
}
.place_for_photo:hover {
  background-color:rgba(58, 56, 56);
}
.button_buy {
  position: absolute;
  top: 188px;
  left: 111px;
  width: 139px;
  height: 44px;
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}
.photo_product:hover {
  opacity: 0.14;
}
.place_for_photo:hover .button_buy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.products__title {
  margin-bottom: 6px;
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
.products_description {
  margin-bottom: 47px;
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
}
.backround_products {
  background-color: #F8F8F8;
}
.product__title {
  margin-top: 25px;
  margin-left: 18px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__description {
  margin-top: 13px;
  margin-left: 17px;
  margin-right: 28px;
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product_price {
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: 18px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_browse {
  margin-top: 48px;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  background: #FFF;
  border-color: #FF6A6A;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_browse:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.backround_extra_offers {
  width: 100%;
  height: 341px;
  background-color: #222224;
}
.extra_offers {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.extra_offer_common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
}
.extra_offer_img {
  margin-bottom: 28px;
}
.text_offer_titles {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.text_offer_bodies {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.feedback {
  position: relative;
}
.photo_background_subscribe {
  width: 100%;
  height: 448px;
}
.main_elements_for_subscribe {
  position: absolute;
  top: 0;
  left: calc(50% - 570px);
  display: flex;
  justify-content: center;
  gap: 223px;
}
.contact_information {
  width: 360px;
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Information_contact {
  margin-top: 30px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.add_information_contact {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.form_for_send_email {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_subscribe {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%; /* 40.128px */
}
.information_about_subscribe {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}
.form_email_with_button {
  display: flex;
  justify-content: center;
}
.form_enter_email {
  position: relative;
}
.name_form {
  position: absolute;
  top: 16px;
  left: 22px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.press_button_subscribe {
  position: relative;
}
.text_button_subscribe {
  position: absolute;
  top: 16px;
  left: 19px;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bottom_panel {
  width: 100%;
  height: 79px;
  background-color: #222224;
  display: flex;
  align-items: center;
}
.bottom_text_and_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text_about_rights {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_bottom {
  width: 31.451px;
  height: 32px;
  flex-shrink: 0;
  background-color: #FFF;
}
.button_bottom:hover {
  background-color: #F16D7F;
}
.button_bottom:hover .icon_social_nets path{
  fill: #FFF;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .center {
    width: 736px;
    margin-right: auto;
    margin-left: auto;
  }
  .button_account {
    margin-right: 42px;
  }
  .main_content {
    height: 368px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .main_img {
    height: 368px;
  }
  .main_content_title {
    font-size: 44px;
  }
  .main_content_description {
    font-size: 24px;
  }
  .main_content_description_add {
    font-size: 24px;
  }
  .line_title {
    width: 12px;
    height: 92px;
    margin-top: 138px;
    margin-left: 39px;
  }
  .offers {
    gap:20px;
  }
  .container_goods {
    margin-top: 110px;
    margin-bottom: 71px;
  }
  .products_description {
    margin-bottom: 73px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 16px;
  }
  .backround_extra_offers {
    height: 610px;
  }
  .extra_offers {
    gap: 48px;
    flex-direction: column;
    align-items: center;
  }
  .extra_offer_common {
    width: 360px;
    margin-top: 0;
  }
  .delivery {
    margin-top: 48px;
  }
  .photo_background_subscribe {
    height: 693px;
  }
  .main_elements_for_subscribe {
    left: calc(50% - 192px);
    gap: 59px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact_information {
    margin-top: 64px;
  }
  .form_for_send_email {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .center {
    width: 359px;
    margin-left: auto;
    margin-right: auto;
  }
  .button_account {
    display: none;
  }
  .button_busket {
    display: none;
  }
  .main_content {
    height: 363px;
    padding-left: auto;
    padding-right: auto;
  }
  .main_content__picture {
    display: none;
  }
  .main_content_text {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .text_with_line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 148px;
  }
  .line_title {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 56px;
  }
  .main_content_title {
    font-size: 38px;
  }
  .main_content_description {
    font-size: 20px;
  }
  .main_content_description_add {
    font-size: 20px;
  }
  .offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  .container_goods {
    margin-top: 64px;
    margin-bottom: 85px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .products_description {
    margin-bottom: 65px;
  }
  .backround_extra_offers {
    height: 610px;
  }
  .extra_offers {
    gap: 48px;
    flex-direction: column;
    align-items: center;
  }
  .extra_offer_common {
    width: 360px;
    margin-top: 0;
  }
  .delivery {
    margin-top: 48px;
  }
  .photo_background_subscribe {
    height: 550px;
  }
  .main_elements_for_subscribe {
    left: calc(50% - 192px);
    gap: 59px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact_information {
    margin-top: 64px;
  }
  .form_for_send_email {
    margin-top: 0px;
  }
  .bottom_panel {
    height: 143px;
  }
  .bottom_text_and_buttons {
    flex-direction: column-reverse;
  }
  .text_about_rights {
    margin-top: 40px;
  }
  .contact_buttons {
    margin-top: 43px;
  }
}
